# vim:set et sw=2:

[user]
  name = harunou
  email = dev.harunou@gmail.com

[core]
  pager = less -S

[help]
  autocorrect = 10

[advice]
  statusHints = false

[branch]
  autosetupmerge = always
  autosetuprebase = always

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto

[status]
  showStash = true

[push]
  default = simple
  followTags = true

[pull]
  rebase = merges

[rebase]
  autosquash = true

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  tool = vimdiff
  conflictStyle = diff3
  ff = false

[include]
  path = ./.gitconfig.local
