! ~/.Xresources

*international: true
*customization: -color

! Tango Scheme
*foreground:   #babdb6
*background:   #000000
*cursorColor:  #babdb6
! black
*color0:       #000000
*color8:       #555753
! red
*color1:       #cc0000
*color9:       #ef2929 
! green
*color2:       #4e9a06
*color10:      #8ae234
! yellow
*color3:       #c4a000
*color11:      #fce94f
! blue
*color4:       #3465a4
*color12:      #739fcf
! magenta
*color5:       #75507b
*color13:      #ad7fa8
! cyan
*color6:       #06989a
*color14:      #34e2e2
! white
*color7:       #d3d7cf
*color15:      #eeeeec


!##XFT
#if WIDTH > 2500
Xft.dpi: 123
#else
Xft.dpi: 96
#endif
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb


!## RXVT
Rxvt*visualBell: true
URxvt.urgentOnBell: true
URxvt.visualBell: true

URxvt.termName: rxvt-unicode

URxvt.saveLines: 8192

Rxvt*scrollBar: false
URxvt.thickness: 4
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain
URxvt.iso14755_52: false
URxvt.iso14755: false

URxvt.underlineColor: #777777
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:
URxvt.geometry: 400x400

#if WIDTH > 1920
URxvt.font: xft:Terminus:pixelsize=26:Regular
#else
URxvt.font: xft:Terminus:pixelsize=22:Regular
#endif

URxvt.keysym.M-C-1:     command:\033]710;xft:Terminus:pixelsize=10:Regular\007
URxvt.keysym.M-C-2:     command:\033]710;xft:Terminus:pixelsize=12:Regular\007
URxvt.keysym.M-C-3:     command:\033]710;xft:Terminus:pixelsize=16:Regular\007
URxvt.keysym.M-C-4:     command:\033]710;xft:Terminus:pixelsize=18:Regular\007
URxvt.keysym.M-C-5:     command:\033]710;xft:Terminus:pixelsize=22:Regular\007
URxvt.keysym.M-C-6:     command:\033]710;xft:Terminus:pixelsize=26:Regular\007
URxvt.keysym.M-C-7:     command:\033]710;xft:Monospace:pixelsize=26:Regular\007
URxvt.keysym.M-C-8:     command:\033]710;xft:Monospace:pixelsize=30:Regular\007
URxvt.keysym.M-C-9:     command:\033]710;xft:Monospace:pixelsize=34:Regular\007
URxvt.keysym.M-C-equal: command:\033]710;xft:Terminus:pixelsize=26:Regular\007

URxvt.keysym.C-grave:  perl:matcher:list
URxvt.keysym.C-Escape: perl:keyboard-select:activate

URxvt.keysym.C-comma:  command:\033]720;12\007
URxvt.keysym.C-period: command:\033]721;12\007

URxvt.keysym.KP_Up: string:\033[A
URxvt.keysym.KP_Down: string:\033[B
URxvt.keysym.KP_Right: string:\033[C
URxvt.keysym.KP_Left: string:\033[D
URxvt.keysym.KP_Begin: string:\033[E
URxvt.keysym.KP_Insert: string:\033[2~
URxvt.keysym.KP_Delete: string:\033[3~
URxvt.keysym.KP_Next: string:\033[5~
URxvt.keysym.KP_Prior: string:\033[6~
URxvt.keysym.KP_Home: string:\033[7~
URxvt.keysym.KP_End: string:\033[8~
URxvt.keysym.KP_Enter: string:\015
URxvt.keysym.KP_Add: string:+
URxvt.keysym.KP_Subtract: string:-
URxvt.keysym.KP_Multiply: string:*
URxvt.keysym.KP_Divide: string:/

URxvt.keysym.Meta-Control-l: command:\033c

URxvt.perl-ext-common: default,matcher,keyboard-select
URxvt.keyboard-select.clipboard: true

URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/xdg-open

!## XMESSAGE
Xmessage.defaultButton: okay

!## XSCREENSAVER
XScreenSaver.newLoginCommand: dm-tool switch-to-greeter
